apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.mongodb.service.name }}
  labels:
    app: mongodb
spec:
  type: {{ .Values.mongodb.service.type }}
  ports:
    - port: {{ .Values.mongodb.service.port }}
      targetPort: mongodb
      protocol: TCP
      name: mongodb
  selector:
    app: mongodb